In [2]:
print (2+2)

4

In [3]:
print("Hello Word")

Hello Word

# Intro to Python
## Shortcuts
1. Shift + Enter (Run the cell and goes to next cell)
2. Ctrl + Enter  (Run the cell and remains in the same cell)
3. Alt + Enter   (Run the cell and goes to next cell after creating the next cell)
4. Tab           (prompts the functions starting with the keyword)      
5. Shift + Tab   (prompts what the function does)

In [8]:
a=3
print ("five times a is ", 5*a, "three times a is ", 3*a)
a=2
print ("five times a is ", 5*a, "three times a is ", 3*a)

five times a is  15 three times a is  9
five times a is  10 three times a is  6

In [6]:
print (a)

3

In [10]:
# We can also inspect the type of the variable
print ('a is type', type (a))
b=2.1
print ('b is type', type (b))
c=a/b
print ('c is type', type (c))

a is type <class 'int'>
b is type <class 'float'>
c is type <class 'float'>

# Collection Of Varibales
## 4 types of collection of variables in python
1. List
2. Touple
3. Set
4. dictionary

# LIST

In [16]:
#LIST []: is an orered and indexed collection of values that are changeable and allows duplicates
simple_list = ['Dan',2,3,4,"python",2.71]
print (simple_list)
print(simple_list[0])
print(simple_list[3])
print(simple_list[-1])
print(simple_list[-2])
print(len(simple_list))

['Dan', 2, 3, 4, 'python', 2.71]
Dan
4
2.71
python
6

In [22]:
#Its easy to change entries of the list
simple_list[3]= 44
print (simple_list)
#add a new ite, to the list
simple_list.append('to the back')
print(len(simple_list))
#remove an item from the list
simple_list.pop(4)
print(simple_list)

['Dan', 2, 3, 44, 2.71, 'to the back', 'to the back', 'to the back', 'to the back']
10
['Dan', 2, 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']

In [23]:
#It is easy to initiate a list of a aprticular size with repeated entries
repeated_list = [5]*4
print(repeated_list)

[5, 5, 5, 5]

In [32]:
#We can use lists as entries of a list
simple_list[1] = [1,2,3]
print(simple_list)
print(simple_list[1])
print(simple_list[1][1])

['Dan', [1, 2, 3], 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']
[1, 2, 3]
2

In [34]:
#Copying list is a litle tricky
list2 = simple_list
print(list2)
print(simple_list)
list2[1]=0
print(list2)
print(simple_list)

['Dan', [1, 2, 3], 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']
['Dan', [1, 2, 3], 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']
['Dan', 0, 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']
['Dan', 0, 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']

In [ ]:
#We must copy the method to prevent this

In [49]:
list4 = simple_list.copy()
print(list4)
print(simple_list)
list4[1]=0
print(list4)
print(simple_list)

['Dan', 0, 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']
['Dan', 0, 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']
['Dan', 0, 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']
['Dan', 0, 3, 44, 'to the back', 'to the back', 'to the back', 'to the back', 'to the back']

# TUPLE

In [37]:
# A TUPLE () is an ordered collection of values that are unchangeable and allow duplicates
simple_tuple = (12,42,11,99,2351)
print(simple_tuple)
print(simple_tuple[1])

(12, 42, 11, 99, 2351)
42

In [38]:
#Its not possible to change values in a tuple
simple_tuple[0]=5

TypeError: 'tuple' object does not support item assignment

In [50]:
#We can work around this though
dummy = list(simple_tuple)
dummy[0]=5
print(dummy)

[5, 42, 11, 99, 2351]

# SET

In [41]:
# A SET {} is an unordered+changeable+no duplicates values
simple_set = {11,-2,15,-2, 'water'}
print(simple_set)

{11, 'water', -2, 15}

In [42]:
print simple_set[1] #error since no index

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(simple_set[1])? (<ipython-input-42-e9eb89440de2>, line 1)

In [44]:
print ("water" in simple_set)

True

In [47]:
#We cant change but add/remove values in a set : .add() and .remove())
simple_set.add(5555)
print (simple_set)
simple_set.remove(15)
print (simple_set)

{'water', 11, 15, 5555, -2}
{'water', 11, 5555, -2}

# DICTIONARY

In [58]:
# A Dictionary is a collection if values that are unordered (but indexed) and changeable
simple_dict = {
    "brand" : "Apple",
    "product" : "Iphone",
    "model" : "XR"
}
print(simple_dict)
print(" I Bought an", simple_dict['product'], "of model", simple_dict['model'], 'from my fav', simple_dict['brand'])

{'brand': 'Apple', 'product': 'Iphone', 'model': 'XR'}
 I Bought an Iphone of model XR from my fav Apple

In [60]:
simple_dict['model'] = '11'
print(simple_dict)

{'brand': 'Apple', 'product': 'Iphone', 'model': '11'}

In [61]:
simple_dict['color'] = 'red'
print(simple_dict)

{'brand': 'Apple', 'product': 'Iphone', 'model': '11', 'color': 'red'}

# ACCESSING DATA IN LIST
### LIST is our main data type for now, later we will use Numpy Arrays, rules for both LISTs and NUMPY ARRAYS are same with NUMPY we can access data in more ways

In [63]:
simple_list = [1,5,2,7,3,66,1923,11]
print (simple_list[2:5])
#no to left of coln is inclusive but right of colon is exclusive

[2, 7, 3]

In [64]:
print(simple_list[-5:-1])

[7, 3, 66, 1923]

In [67]:
print (simple_list[2:3])

[2]

# FLOW CONTROL (Loops & Conditions)

# Loops

In [ ]:
#For loops
#One common method is to loop throug a list, we can choose other aggregated variables
#One rule remains same: Insodes fo a loop are determined by tabs!!!!!
# This is also true for conditionals + user defined functions!!!

In [68]:
counter = 0
simple_list = [0,1,2,3,4,5,6,2143,123,7834]
for i in simple_list:
    print (i)
    counter = counter + 1
print ('this line is not inside the loop')
print ('this loop cycled',counter,'times')

0
1
2
3
4
5
6
2143
123
7834
this line is not inside the loop
this loop cycled 10 times

In [70]:
for i in simple_list[1:4]:
    for j in simple_list[4:7]:
        print(i*j)
    print('outside of j loop')    
print('outside of booth loops')

4
5
6
outside of j loop
8
10
12
outside of j loop
12
15
18
outside of j loop
outside of booth loops

In [71]:
#We may want to loop over a range of values
# We can do this with a 'range' type
print(range(6))

range(0, 6)

In [72]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [73]:
#We can also specify the starting of the range (left inclusive , right exclusive)
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [75]:
# We can also increment in the range by specific amount
for i in range(2,10,2):
    print(i)

2
4
6
8

In [77]:
# We can convert a range to a list by type casting it into a list
list(range(6,15,3))

[6, 9, 12]

# WHILE LOOPS

In [78]:
# WHile loops simillar to For loops and the interior of the loop is defined by tab
i=4
while i<=10:
    print(i)
    i=i+1
print('outside of while loop')

4
5
6
7
8
9
10
outside of while loop

# CONDITIONS

1. if 
2. else
3. elif

In [81]:
i=1
if i<10:
    print(i,'is less than 10')
else:
    print(i,'is more than 10')

1 is less than 10

In [83]:
i=11
if i >10:
    print(i, 'is greater than 10')
elif i < 3:
    print (i, 'is less than 3')
else: 
    print (i, 'is betwen 3 and 4')

11 is greater than 10

# USER DEFINED FUNCTIONS
1. Defined Functions
2. Lambda function (inline)

In [84]:
#Def a function that returns a square + adds 7 to an input
def x2p7(x):
    """input is x, result will be x**x +7"""
    y=x*x
    z=y+7
    return z
print(x2p7(5))

32

In [ ]:
x2p7 #what is inside can be accessed through shift + tab

In [ ]:
# A avaribale defined inside a function can not be accessed from outside the function
#but a varible define outside a function can be accessed from inside the function

In [88]:
outside_var = 5
def func_add (outside_var):
    inside_var = 6
    retun (outside_var+inside_var)
print(outside_var)
print(inside_var)

5

NameError: name 'inside_var' is not defined

In [86]:
#We can address the scope by defining the varibale a s global variable

In [93]:
#SImple functions can alo be dfined in a line : aka LAMBDA FUNCTIONS
x2p7V2 = lambda x:x*x+7
print(x2p7V2(5))

32

In [95]:
#Lambda function can also take more than one input
another_lambda = lambda x,y,z : x*x + y*z
print(another_lambda(5,4,3))

37

# OS Module

In [96]:
import os
print(os.name)

posix

# WORKING Directory

In [97]:
os.getcwd()

'/Users/sandeepsingh'

# Content of a Directory

In [98]:
os.listdir('.')

['.config',
 'Python_Learning.ipynb',
 'Music',
 '.condarc',
 'Untitled5.ipynb',
 '.anyconnect',
 'HC Clustering',
 'Untitled1.ipynb',
 '.DS_Store',
 'HC NAS FORECAST-Copy1.ipynb',
 '.CFUserTextEncoding',
 'Untitled3.ipynb',
 'FSC NAS FORECAST.ipynb',
 'Untitled.ipynb',
 'Untitled4.ipynb',
 'Pictures',
 '.atom',
 'L1_Preowork.ipynb',
 '2.Pyhton_NUMPY',
 'Untitled2.ipynb',
 '.ipython',
 'Desktop',
 'Library',
 '.matplotlib',
 '.spyder-py3',
 '.cups',
 '.bash_sessions',
 'Google Drive',
 'HC NAS FORECAST.ipynb',
 'FSC NAS FORECAST-Copy1.ipynb',
 'Public',
 '.cisco',
 '.anaconda',
 '.ssh',
 'Movies',
 'Applications',
 '.Trash',
 '.ipynb_checkpoints',
 '.jupyter',
 '.keras',
 'Documents',
 '.vscode',
 '.bash_profile',
 'Downloads',
 '.bash_history',
 '.viminfo',
 '.conda']